@model ContactViewModel
@{ 
    ViewBag.Title = "Contact Us";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Name">Your Name:</label>
    <br />
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Email">Email</label>
    <br />
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Subject">Subject</label>
    <br />
    <input asp-for="Subject" />
    <span asp-validation-for="Subject"></span>
    <br />
    <label asp-for="Message">Message:</label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <span asp-validation-for="Message"></span>
    <br />
    <input type="submit" value="Send Message" />
    <div>@ViewBag.UserMessage</div>
</form>

<!-- 
    Note:
        - The asp-for on the label:
            - The reason for this is, that when someone clicks on the label it put focus on the input for that label.
            - Shawn Wildermuth advice to use asp-for for the labels aswell. He say's this is what users expect to work.
-->