@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <!-- The (~) tilda simbol specifies that this start from the root of the folder the website is deployed in. -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome to Dutch Treat</h1>
    </header>
    <menu>
        <ul>
            <li><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
        </ul>
    </menu>
    <section>
        <h2>@ViewBag.Title</h2>
        <!-- The RenderBody() will take a cshtml file and render it here when it is being rendered. -->
        @RenderBody()
    </section>
    <footer>Coyright 2017 Dutch Treat LLC</footer>


    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>